/* Sidebar */
.sidebar {
  margin-top: -8px;
  width: 230px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
  position: fixed;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Halaman dashboard */
.content {
  margin-left: 200px;
  padding-left: 16px;
  padding-top: 20px;
  height: 10px;
  align-items: center;
  text-align: center;
}

.content hr {
  margin: 1rem;
  margin-right: 20px;
  margin-left: 50px;
}

.content a {
  text-decoration: none;
  color: white;
}

/* Card */
#card {
  text-align: center;
}

.container-card {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
